doctype html
html
  head
    title Alex Dance Academy
    block scripts
    block style 
  body
    nav#navbar 
        ul
            div#logo 
                img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQR8mhGf4F31qtMomNniQMtlQqb847MPg6GPQ&usqp=CAU")
                | ADA 
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") Class Info]
            li #[a(href="/contact") Contact Us]
            
    block content
    footer#footer 
        | Web Page created by Pulkit Singh Chouhan
    